
@{
    ViewBag.Title = "Agregar nuevo producto";
}

<h2>Nuevo producto</h2>
<hr />

<form method="post" action="/Producto/Create">
    <label for="codigo">Código</label>
    <br />
    <input type="number" name="codigo" required />
    <br />
    <br />
    <label for="nombre">Nombre</label>
    <br />
    <input type="text" name="nombre" />
    <br />
    <br />
    <label for="descripcion">Descripción</label><br />
    <input name="descripcion" type="text" />
    <br />
    <br />
    <input type="submit" value="Grabar" />
</form>



